<!DOCTYPE html>
<html>
<head>
    <title>State - View All</title>
</head>
    <body>
        <h1>States</h1>
        <a href="/state/add">Add New State</a> <br /> <br />

        <table border="1">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
            <% for(var i = 0; i < states.length; i++) { %>
            <tr>
                <td>
                    <%= states[i].state_id %>
                    </a>

                </td>

                <td>
                    <%= states[i].state_name %>
                    </a>

                </td>


                <td>
                    <a href='/state/edit/?state_id=<%= states[i].state_id %>'>
                        Edit

                        <a href="/state/delete?state_id=<%= states[i].state_id %>">Delete</a>
                    </a>
                </td>

            </tr>
            <% } %>
        </table>
        <% if(locals.was_successful_delete) { %>
        <div>
            <p>State successfully deleted</p>
        </div>
        <% } %>
    </body>
</html>