<!DOCTYPE html>
<html>
    <head>
        <title>Owner - Add</title>
    </head>
    <body>
        <h1>Add New Owner</h1>
        <form action="/owner/insert" method="get">
            First Name: <input name="first_name" type="text" />
            Last Name: <input name="last_name" type="text" />
            Owner Team: <input name="owner_team" type="text" />
            <br />
            <input type="submit" />
        </form>
    </body>
</html>