<!DOCTYPE html>
<html>
<head>
    <title>Query10 - View All</title>
</head>
<body>
<h1>Query 10</h1>


<table border="1">
    <tr>
        <th>Owner Team</th>

    </tr>
    <% for(var i = 0; i < owners.length; i++) { %>
    <tr>
        <td>
            <%= owners[i].owner_team %>


        </td>




    </tr>
    <% } %>
</table>

</body>
</html>