<!DOCTYPE html>
<html>
  <head>
    <title>Home - View All</title>

  </head>
  <body>
    <h1>NBA Database</h1>

    <a href="/state/all">View States</a> <br/> <br/>

    <a href="/team/all">View Teams</a> <br/> <br/>

    <a href="/owner/all">View Owners</a> <br/> <br/>

    <a href="/player/all">View Players</a> <br/> <br/>

    <a href="/queries/query10">Query #10</a> <br/> <br/>

    <a href="/queries/query9">Query #9</a> <br/> <br/>

    <a href="/queries/query8">Query #8</a> <br/> <br/>

    <a href="/queries/query6">Query #6</a> <br/> <br/>

    <a href="/queries/query4">Query #4</a> <br/> <br/>

    <a href="/queries/query3">Query #3</a> <br/>






  </body>
</html>
