<!DOCTYPE html>
<html>
<head>
    <title>Team - Add</title>
</head>
<body>
<h1>Add New Team</h1>
<form action="/team/update" method="get">
    team_name: <input
            id="team_name"
            name="team_name"
            type="text"
            value="<%= team.team_name%>"

    />

    team_state: <input
            id="team_state"
            name="team_state"
            type="text"
            value="<%= team.team_state%>"

    />


    <input type="hidden"
           id="team_id"
           name="team_id"
           value="<%= team.team_id %>"
    />

    <br />
    <input type="submit" />
</form>
</body>
</html>