<!DOCTYPE html>
<html>
    <head>
        <title>Team - Add</title>
    </head>
    <body>
        <h1>Add New Team</h1>
        <form action="/team/insert" method="get">
            Team Name: <input name="team_name" type="text" />
            Team State: <input name="team_state" type="text" />
            <br />
            <input type="submit" />
        </form>
    </body>
</html>