<!DOCTYPE html>
<html>
    <head>
        <title>Player - Add</title>
    </head>
    <body>
        <h1>Add New Player</h1>
        <form action="/player/insert" method="get">
            First Name: <input name="first_name" type="text" />
            Last Name: <input name="last_name" type="text" />
            Team Name: <input name="player_team" type="text" />
            Jersey Number: <input name="jersey_number" type="text" />
            Position: <input name="position" type="text" />
            <br />
            <br />
            Height: <input name="height" type="text" />
            Weight: <input name="weight" type="text" />
            <br />
            <input type="submit" />
        </form>
    </body>
</html>